@mixin color($color,$background){
  color:$color;
  background: $background;
}
@mixin height($height,$lineheight){
  height:$height;
  line-height: $lineheight;
  text-align: center;
  border-radius: 3px;
  margin: 0 auto;
}
@mixin size($width,$height){
  width:$width;
  height:$height;
}
@mixin forget($top,$bottom,$width,$left,$size,$color){
  margin: $top auto $bottom;
  width: pxToRem($width);
  text-align: $left;
  font-size:pxToRem($size) ;
  color: $color;
}
::-webkit-input-placeholder{
  color: #bebebe;
}
.content{
  padding-top: pxToRem(180px);
}
@mixin background($uri){
  background: url($uri) no-repeat;
  background-size: pxToRem(44px) pxToRem(44px);
  background-position: center 0;
}
@mixin cellLi($width){
  display: inline-block;
  width: $width;
  text-align: center;
  height: pxToRem(220px);
  font-size: pxToRem(28px);
  border-bottom: 1px solid #e5e5e5;
  padding-top:pxToRem(57px);
  color:#333;
  img{
    width:pxToRem(49px);
    height:pxToRem(49px);
  }
}
@mixin MsgList(){
  padding-left:  pxToRem(30px);
  background:#fff;
  li{
    border-bottom: 1px solid #e5e5e5;
    height: pxToRem(90px);
    line-height: pxToRem(90px);
  }
  border: {
    top:1px solid #e5e5e5;
    bottom:1px solid #e5e5e5;
  };
}
